# coding: utf-8

"""
    Omnuis-API astu specificatioin

    Интеграционный сервис АИС КИС Баланс

    The version of the OpenAPI document: 2.0
    Contact: e-vasilyev@it-serv.ru
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501


import re  # noqa: F401
import io
import warnings

from pydantic import validate_arguments, ValidationError

from typing_extensions import Annotated
from pydantic import Field, conint

from typing import List, Optional

from openapi_client.models.consumers_inner import ConsumersInner
from openapi_client.models.end_device_request_body import EndDeviceRequestBody
from openapi_client.models.service_location import ServiceLocation

from openapi_client.api_client import ApiClient
from openapi_client.api_response import ApiResponse
from openapi_client.exceptions import (  # noqa: F401
    ApiTypeError,
    ApiValueError
)


class AstuApi:
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None) -> None:
        if api_client is None:
            api_client = ApiClient.get_default()
        self.api_client = api_client

    @validate_arguments
    def process_objects(self, service_location : Annotated[ServiceLocation, Field(..., description="Параметры обращения к сервису - определяются проектным решением для каждого сервиса индивидуально")], **kwargs) -> List[ConsumersInner]:  # noqa: E501
        """Отправка объектов на обработку  # noqa: E501

        Отправка объектов на обработку  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.process_objects(service_location, async_req=True)
        >>> result = thread.get()

        :param service_location: Параметры обращения к сервису - определяются проектным решением для каждого сервиса индивидуально (required)
        :type service_location: ServiceLocation
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: List[ConsumersInner]
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the process_objects_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.process_objects_with_http_info(service_location, **kwargs)  # noqa: E501

    @validate_arguments
    def process_objects_with_http_info(self, service_location : Annotated[ServiceLocation, Field(..., description="Параметры обращения к сервису - определяются проектным решением для каждого сервиса индивидуально")], **kwargs) -> ApiResponse:  # noqa: E501
        """Отправка объектов на обработку  # noqa: E501

        Отправка объектов на обработку  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.process_objects_with_http_info(service_location, async_req=True)
        >>> result = thread.get()

        :param service_location: Параметры обращения к сервису - определяются проектным решением для каждого сервиса индивидуально (required)
        :type service_location: ServiceLocation
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(List[ConsumersInner], status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'service_location'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method process_objects" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}

        # process the query parameters
        _query_params = []
        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        if _params['service_location'] is not None:
            _body_params = _params['service_location']

        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # set the HTTP header `Content-Type`
        _content_types_list = _params.get('_content_type',
            self.api_client.select_header_content_type(
                ['application/json']))
        if _content_types_list:
                _header_params['Content-Type'] = _content_types_list

        # authentication setting
        _auth_settings = []  # noqa: E501

        _response_types_map = {
            '200': "List[ConsumersInner]",
            '400': None,
            '429': None,
            '204': None,
            '408': None,
            '500': None,
            '409': None,
            '404': None,
            '401': None,
        }

        return self.api_client.call_api(
            '/astu/import', 'POST',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    @validate_arguments
    def search_objects(self, end_device_request_body : Annotated[EndDeviceRequestBody, Field(..., description="Параметры обращения к сервису - определяются проектным решением для каждого сервиса индивидуально")], limit : Annotated[Optional[conint(strict=True, ge=0)], Field(description="кол-во элементов от начала отсчета")] = None, offset : Annotated[Optional[conint(strict=True, ge=0)], Field(description="индекс начала отчета")] = None, **kwargs) -> List[ConsumersInner]:  # noqa: E501
        """Запрос поиска объектов  # noqa: E501

        Запрос поиска объектов по заданному сервису  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.search_objects(end_device_request_body, limit, offset, async_req=True)
        >>> result = thread.get()

        :param end_device_request_body: Параметры обращения к сервису - определяются проектным решением для каждого сервиса индивидуально (required)
        :type end_device_request_body: EndDeviceRequestBody
        :param limit: кол-во элементов от начала отсчета
        :type limit: int
        :param offset: индекс начала отчета
        :type offset: int
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: List[ConsumersInner]
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the search_objects_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.search_objects_with_http_info(end_device_request_body, limit, offset, **kwargs)  # noqa: E501

    @validate_arguments
    def search_objects_with_http_info(self, end_device_request_body : Annotated[EndDeviceRequestBody, Field(..., description="Параметры обращения к сервису - определяются проектным решением для каждого сервиса индивидуально")], limit : Annotated[Optional[conint(strict=True, ge=0)], Field(description="кол-во элементов от начала отсчета")] = None, offset : Annotated[Optional[conint(strict=True, ge=0)], Field(description="индекс начала отчета")] = None, **kwargs) -> ApiResponse:  # noqa: E501
        """Запрос поиска объектов  # noqa: E501

        Запрос поиска объектов по заданному сервису  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.search_objects_with_http_info(end_device_request_body, limit, offset, async_req=True)
        >>> result = thread.get()

        :param end_device_request_body: Параметры обращения к сервису - определяются проектным решением для каждого сервиса индивидуально (required)
        :type end_device_request_body: EndDeviceRequestBody
        :param limit: кол-во элементов от начала отсчета
        :type limit: int
        :param offset: индекс начала отчета
        :type offset: int
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(List[ConsumersInner], status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'end_device_request_body',
            'limit',
            'offset'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method search_objects" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}

        # process the query parameters
        _query_params = []
        if _params.get('limit') is not None:  # noqa: E501
            _query_params.append(('limit', _params['limit']))

        if _params.get('offset') is not None:  # noqa: E501
            _query_params.append(('offset', _params['offset']))

        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        if _params['end_device_request_body'] is not None:
            _body_params = _params['end_device_request_body']

        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # set the HTTP header `Content-Type`
        _content_types_list = _params.get('_content_type',
            self.api_client.select_header_content_type(
                ['application/json']))
        if _content_types_list:
                _header_params['Content-Type'] = _content_types_list

        # authentication setting
        _auth_settings = []  # noqa: E501

        _response_types_map = {
            '200': "List[ConsumersInner]",
            '400': None,
            '429': None,
            '204': None,
            '408': None,
            '500': None,
            '409': None,
            '404': None,
            '401': None,
        }

        return self.api_client.call_api(
            '/astu/export', 'POST',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))
